<!--Desire Revon-->
<!--VFW Project 3-->
<!--Term:1205-->
<!--I Remember Mobile Application-->

html {
    height: 100%;
}

body{

border-style:solid;
border-width:10px;
}

a{
	font: 16px century gothic;
	color: blue;
	text-align: center;
}

a:hover{
	color:green;
	
}


p{
	font-family: "century gothic",sans-serif; 
	color:#000000;
	text-align: center;
	top:5px;
}

h1{
	font-family: "century gothic",sans-serif;
	font-size: 200%; 
	color:#000000; 
	
}
h2{
	font-family: "century gothic", sans-serif;
	font-size: 20px;
	text-align: center;
}