/*
Desire Revon
VFW Project 4
Term:1205
I Remember Mobile Application
*/

html{
font-family:century gothic, sans serif;
background-image:url(http://www.bibleclipart.net/images/christian-clip-art-kids.jpg);
background-repeat:no-repeat;
background-size:cover;
}

h1{
    border: 3px solid #a1a1a1;
    padding: 10px 15px;
    background-color: #666;
    background-color: rgba(0,0,0,0.5);
    font-weight: bolder;
    color: white;
    text-align: center;
    border-radius:20px;

}

h1{
	font: 30px century gothic;
	font-weight: bold;
    color: #000000;
	padding: 10px;
	text-transform: capitalize;
	text-align: center;
}

form{
	background-color: #D1D1D1;
}


span{
	color: #000000;
	font: Arial, "century gothic", sans-serif;
	font-style: italic;
}

fieldset{
	font: 16px century gothic;
	border: 10px solid #bbb;
	padding:20px;
}

p{
    margin: 10px 5px;
    text-align: center;
    font-size: 18px;
}

legend{
	color: Black;
	font-weight: bold;
	border-top: 1px solid #2F4F4F;
	border-left: 1px solid #2F4F4F;
	border-right: 1px solid #2F4F4F;
	border-bottom: 1px solid #2F4F4F;
    padding: 5px 5px;
    background-color:#2F4F4F;
    border: 5px solid #BEBEBE;
}


input{
	font: 12px century gothic;
	color: #555;
	margin: 10px;
	
}

textarea:focus, input:focus { 
border: 1px solid #900; 
background-color: #7FFF00; 
}

textarea{
	width: 75%;
	font: 12px century gothic;
	color: #555;
	height: 50px;
	line-height: 10px;
	margin-left: 10px;
	margin-top: 20px;

}

a{
	font: 16px century gothic;
	color: blue;
	text-align: center;
}

a:hover{
	color:#2F4F4F;
	
}

img{

}